input#example {
    width: 100%;
    margin-bottom: 10px;
}
/** Universe Tags **/
.universe-tags label[class^="item"]{
  background-color: white;
  border-radius: 5px;
  border: 1px solid #719cfb;
  color: #719cfb;
  vertical-align: super;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.universe-tags label[class^="item"]::after {
  content: 'x';
  margin-left: 5px;
  color: #ff2101;
  font-size: 16px;
  width: 10px;
}
